@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

h1,
#title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 5vw;
}

.subt {
    position: fixed;
    top: 7.5vh;
    right: 10vw;
    text-align: right;
    width: 30%;
    color: aliceblue;
    font-size: 2.5vw;
    font-family: 'Noto Sans TC', sans-serif;

    display: none;
}

h2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3vw;
}

h3 {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    color: rgb(230, 190, 138);
}

p {
    font-size: 1.2vw;
    text-indent: 2.5vw;
    color: aliceblue;
}

p::first-letter {
    text-shadow: 1px 1px rgb(255, 233, 0, 0.2);
    font-size: 2vw;
}

p::first-line {
    margin-top: 2vh;
}

strong {
    color: rgb(255, 223, 0);
}

html {
    scroll-behavior: smooth;
    color: aliceblue;
}

nav ul {
    color: rgb(255, 223, 0);
    position: fixed;
    z-index: 30;
    list-style-type: none;
    font-size: large;
    top: 42px;
    left: 120px;
    font-family: 'Noto Sans TC', sans-serif;

    display: none;
}

nav ul li:nth-child(2) {
    text-indent: 5px;
}

/*Link變化控制*/
a {
    color: inherit;
}

a:hover,
a:focus {
    color: aliceblue;
    text-decoration: none;
    transform: scale(1.5);
}

/*螢幕隱藏或顯示*/
.sShow {
    display: none;
}

.sHide {
    display: block;
}

#mySVG {
    position: fixed;
    z-index: 2;
    top: 0%;
    width: 40vw;
    height: 100vh;
}

/*控制RWD手機行為*/
@media screen and (max-width: 768px) {
    p {
        font-size: medium;
        text-indent: 20px;
    }

    p::first-letter {
        font-size: x-large;
    }

    div#report p {
        text-indent: 0px;
    }

    .subt, h2 {
        font-size: medium;
    }

    .vinyl {
        width: 80px;
        height: 80px;
    }

    nav ul {
        font-size: medium;
        top: 28px;
        left: 70px;
    }

    #mySVG {
        position: fixed;
        z-index: -2;
        top: 0%;
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
    }

    /*用於小螢幕隱藏的class*/
    .sHide {
        display: none;
    }

    .sShow {
        display: block;
    }
}
